@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes downToTop {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.margin-bottom-10px {
  margin-bottom: 1rem;
}

.margin-bottom-30px {
  margin-bottom: 3rem;
}

.margin-bottom-80px {
  margin-bottom: 8rem;
}
@media only screen and (max-width: 900px) {
  .margin-bottom-80px {
    margin-bottom: 4rem;
  }
}

.margin-bottom-50px {
  margin-bottom: 5rem;
}

.text-align-center {
  text-align: center;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 1240px) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 30%;
  }
}
@media only screen and (min-width: 1800px) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #777777;
  letter-spacing: 0.2rem;
  padding: 5rem;
  background-color: #ffffff;
}

.container {
  background-color: #F7F7F7;
  position: relative;
  z-index: 1;
}

.title-first {
  color: #ffffff;
}
.title-first__main {
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: 1rem;
  line-height: normal;
  display: block;
  margin-bottom: 1rem;
  animation-name: leftToRight;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-timing-function: ease;
  backface-visibility: hidden;
}
@media only screen and (max-width: 1240px) {
  .title-first__main {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 900px) {
  .title-first__main {
    font-size: 2.9rem;
    letter-spacing: 0.5rem;
  }
}
.title-first__secondary {
  font-size: 4rem;
  font-weight: 200;
  letter-spacing: 0.5rem;
  line-height: normal;
  display: block;
  animation-name: rightToLeft;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-timing-function: ease;
  backface-visibility: hidden;
  margin-bottom: 5rem;
}
@media only screen and (max-width: 1240px) {
  .title-first__secondary {
    font-size: 3.5rem;
    margin-bottom: 3.5rem;
  }
}
@media only screen and (max-width: 900px) {
  .title-first__secondary {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    letter-spacing: 0.2rem;
  }
}

.title-secondary {
  font-size: 3.6rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1rem;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(70, 50, 8, 0.7) 99.94%);
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  transition: all 0.4s;
  backface-visibility: hidden;
}
@media only screen and (max-width: 1240px) {
  .title-secondary {
    font-size: 3rem;
    letter-spacing: 0.2rem;
  }
}
.title-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.title-secondary_white {
  color: #ffffff;
}
@media only screen and (max-width: 900px) {
  .title-secondary_white {
    font-size: 2.5rem;
  }
}

.title-third {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #777777;
}
@media only screen and (max-width: 1240px) {
  .title-third {
    font-size: 1.8rem;
  }
}

.paragraph {
  color: #777777;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  line-height: 140%;
}
@media only screen and (max-width: 1240px) {
  .paragraph {
    font-size: 1.5rem;
  }
}

.btn_animated {
  animation-name: downToTop;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
}
.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: #777777;
  display: inline-block;
  padding: 1.5rem 4rem;
  background-color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.5rem;
  border-radius: 5rem;
  transition: all 0.5s;
  position: relative;
  border: none;
}
@media only screen and (max-width: 1240px) {
  .btn, .btn:link, .btn:visited {
    font-size: 1.6rem;
    padding: 1.5rem 3.7rem;
  }
}
@media only screen and (max-width: 900px) {
  .btn, .btn:link, .btn:visited {
    font-size: 2rem;
    padding: 1.8rem 4rem;
  }
}
.btn:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
}
.btn:hover::after {
  opacity: 0;
  transform: scale(1.6);
}
.btn:active {
  transform: translateY(-0.2rempx);
  transform-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}
.btn::after {
  content: "";
  background: #ffffff;
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
  transition: all 0.6s;
}

.btn_brown, .btn_brown:link, .btn_brown:visited {
  background: #BA8554;
  font-size: 2rem;
  color: white;
  letter-spacing: 0.5rem;
  font-weight: 600;
}
.btn_brown:hover::after {
  background: #BA8554;
}

.header {
  position: relative;
  height: 95vh;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%), url(../img/header-background.jpg) center/cover no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 670px), (min-resolution: 192dpi) and (min-width: 670px) {
  .header {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0.03%, rgba(255, 255, 255, 0.7) 99.94%), url(../img/background-color.jpg) center/cover no-repeat;
  }
}
@media (min-width: 1340px) {
  .header {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0.03%, rgba(255, 255, 255, 0.7) 99.94%), url(../img/background-color.jpg) center/cover no-repeat;
  }
}
.header__logo {
  position: absolute;
  width: 5.6rem;
  height: 7rem;
  top: 5rem;
  left: 5rem;
}
.header__box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
@media only screen and (max-width: 1240px) {
  .header__box {
    top: 50%;
  }
}
@media only screen and (max-width: 900px) {
  .header__box {
    top: 58%;
  }
}

.section-about {
  padding-top: 8rem;
  margin-bottom: 20rem;
}
@media only screen and (max-width: 1240px) {
  .section-about {
    margin-bottom: 13rem;
  }
}
@media only screen and (max-width: 900px) {
  .section-about {
    margin-bottom: 40rem;
  }
}

.section-adventure {
  padding: 21rem 0;
  height: 95wh;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%), url(../img/fon2.png) center/cover no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
          clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
}

.section-tour {
  padding-top: 15rem;
  margin-bottom: 8.5rem;
}

.section-feedBack {
  padding-top: 8rem;
  position: relative;
  padding: 8rem 0rem;
}

.section-book {
  padding: 10rem;
  background: linear-gradient(90deg, rgba(227, 137, 54, 0.7), rgba(70, 41, 4, 0.7));
}
@media only screen and (max-width: 900px) {
  .section-book {
    padding: 4rem;
  }
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
@media only screen and (max-width: 900px) {
  .row:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (max-width: 1240px) {
  .row {
    max-width: 91.5rem;
  }
}
@media only screen and (max-width: 900px) {
  .row {
    max-width: 60rem;
  }
}

.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
@media only screen and (max-width: 1240px) {
  .col-1-of-3 {
    width: calc((100% - 2 * 2rem) / 3);
  }
}

.col-2-of-3 {
  width: calc(2 * (100% - 2 * 6rem) / 3 + 6rem);
}

.col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
@media only screen and (max-width: 1240px) {
  .col-1-of-4 {
    width: calc((100% - 3 * 2rem) / 4);
  }
}

.col-2-of-4 {
  width: calc(2 * (100% - 3 * 6rem) / 4 + 6rem);
}

.col-3-of-4 {
  width: calc(3 * (100% - 3 * 6rem) / 4 + 2 * 6rem);
}

[class^=col-] {
  float: left;
}
[class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
@media only screen and (max-width: 1240px) {
  [class^=col-]:not(:last-child) {
    margin-right: 2rem;
  }
}
@media only screen and (max-width: 900px) {
  [class^=col-] {
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 3rem;
  }
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: #BA8554;
  padding: 1rem;
  border-bottom: 1px #BA8554 solid;
}
.btn-text:hover {
  display: inline-block;
  background-color: #BA8554;
  color: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
  transform: translateY(-0.4rem);
}
.btn-text:active {
  transform: translateY(0rem);
}

.composition {
  position: relative;
}
.composition__photo {
  width: 55%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  position: absolute;
  z-index: 10;
  transition: all 0.2s;
  outline-offset: 1rem;
}
.composition__photo_n1 {
  top: 0rem;
  left: 2rem;
}
.composition__photo_n2 {
  top: 6rem;
  right: 0rem;
}
.composition__photo_n3 {
  top: 15rem;
  right: 15rem;
}
.composition__photo:hover {
  outline: 1.1rem solid #BA8554;
  transform: scale(1.1);
  z-index: 20;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.9);
}

.adventure-card {
  padding: 2.5rem;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
  opacity: 80%;
  border-radius: 0.5rem;
  text-align: center;
}
.adventure-card:hover {
  transform: translateY(1.5rem);
  transform: scale(1.05);
  transition: all 0.2s;
}
.adventure-card__icon {
  font-size: 6rem;
  display: inline-block;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(70, 50, 8, 0.7) 99.94%);
  -webkit-background-clip: text;
  color: transparent;
}

.card-tour {
  height: 50rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
}
@media only screen and (max-width: 900px) {
  .card-tour {
    height: auto;
  }
}
.card-tour__side {
  height: 50rem;
  border-radius: 0.5rem;
  overflow: hidden;
  width: 100%;
  transition: all 0.8s ease-out;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 900px) {
  .card-tour__side {
    height: auto;
    position: relative;
  }
}
.card-tour__side_front {
  background: #ffffff;
  padding-bottom: 8rem;
}
.card-tour__side_back {
  transform: rotateY(180deg);
  background: linear-gradient(157deg, #C3956A 3.65%, #A14F03 100%);
  text-align: center;
}
@media only screen and (max-width: 900px) {
  .card-tour__side {
    transform: rotate(0deg);
    padding: 5rem;
    padding-top: 12rem;
  }
}
.card-tour:hover .card-tour__side_front {
  transform: rotateY(-180deg);
}
@media only screen and (max-width: 900px) {
  .card-tour:hover .card-tour__side_front {
    transform: rotate(0deg);
  }
}
.card-tour:hover .card-tour__side_back {
  transform: rotateY(0deg);
}
@media only screen and (max-width: 900px) {
  .card-tour:hover .card-tour__side_back {
    transform: rotate(0deg);
  }
}
.card-tour__img {
  background-blend-mode: hard-light;
  height: 21rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  margin-bottom: 6rem;
}
@media only screen and (max-width: 900px) {
  .card-tour__img {
    height: 30rem;
  }
}
.card-tour__img_1 {
  background: #BA8554 url(../img/tour1.png) center/cover no-repeat;
}
.card-tour__img_2 {
  background: #BA8554 url(../img/tour2.png) center/cover no-repeat;
}
.card-tour__img_3 {
  background: #BA8554 url(../img/tour3.png) center/cover no-repeat;
}
.card-tour__title {
  color: #FFF;
  text-align: right;
  font-size: 2.8rem;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  position: absolute;
  top: 17rem;
  right: 0rem;
}
@media only screen and (max-width: 900px) {
  .card-tour__title {
    top: 25rem;
    font-size: 3.1rem;
  }
}
.card-tour__span {
  background: linear-gradient(90deg, #C3956A 3.65%, #A14F03 100%);
  padding: 1rem 2rem 0.2rem 2rem;
}
.card-tour__span_2 {
  position: absolute;
  top: 3.4rem;
  right: 0rem;
  padding-bottom: 1rem;
}
.card-tour__descr ul {
  list-style: none;
  margin: 0 auto;
  width: 75%;
  text-align: center;
}
.card-tour__descr li {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  color: #777777;
  display: inline-block;
  margin-bottom: 2rem;
  border-bottom: 1px #777777 solid;
}
@media only screen and (max-width: 1240px) {
  .card-tour__descr li {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 900px) {
  .card-tour__descr li {
    font-size: 2rem;
  }
}
.card-tour__backside-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 900px) {
  .card-tour__backside-box {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    padding: 3rem;
  }
}
.card-tour__text1 {
  margin-bottom: 8.7rem;
  color: #FFF;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 2px;
}
@media only screen and (max-width: 900px) {
  .card-tour__text1 {
    font-size: 2.6rem;
  }
}
.card-tour__text2 {
  margin-bottom: 8.7rem;
  color: #FFF;
  font-size: 6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
}

.feedBack-card {
  width: 85%;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  padding: 6rem;
  transform: skew(-15deg);
}
@media only screen and (max-width: 900px) {
  .feedBack-card {
    transform: skew(-7deg);
    padding: 3rem;
    margin-bottom: 5rem;
  }
}
.feedBack-card > * {
  transform: skew(15deg);
}
@media only screen and (max-width: 900px) {
  .feedBack-card > * {
    transform: skew(7deg);
  }
}
.feedBack-card__img {
  width: 15rem;
  height: 15rem;
  background: green;
  float: left;
  border-radius: 100rem;
  shape-outside: circle(50% at 50% 50%);
  -webkit-shape-outside: circle(50% at 50% 50%);
  margin-right: 4rem;
  overflow: hidden;
  position: relative;
}
.feedBack-card__img img {
  height: 100%;
  transform: scale(1.2);
  transition: all 0.8s;
}
.feedBack-card__name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  text-align: center;
  font-size: 2.4rem;
  color: #ffffff;
  letter-spacing: 0.2rem;
  opacity: 0;
  transition: all 0.8s;
}
.feedBack-card:hover .feedBack-card__name {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.feedBack-card:hover img {
  transform: scale(1);
  filter: blur(0.2rem);
  filter: brightness(70%);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -2;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bg-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(5, 5, 5, 0.7) 99.94%);
}

.book {
  height: 50rem;
  background: linear-gradient(125deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 57%, rgba(186, 133, 80, 0.8) 57%, rgba(161, 79, 3, 0.8) 100%), url(../img/bg-form.jpg) center/cover no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
  border-radius: 0.6rem;
  overflow: hidden;
}
@media only screen and (max-width: 900px) {
  .book {
    background: linear-gradient(125deg, rgba(255, 255, 255, 0.9) 500%, rgba(255, 255, 255, 0.9) 57%, rgba(186, 133, 80, 0.8) 57%, rgba(161, 79, 3, 0.8) 100%), url(../img/bg-form.jpg) center/cover no-repeat;
  }
}
.book__form {
  width: 80%;
  padding-top: 5rem;
  padding-left: 5rem;
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
@media only screen and (max-width: 1240px) {
  .form__group:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.form__label {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  color: #777;
  display: block;
  margin-top: 0.6rem;
  margin-left: 1.6rem;
  transition: 0.4s all;
}
.form__input {
  font-size: 1rem;
  color: black;
  letter-spacing: 0.2rem;
  font-weight: 400;
  padding: 2rem 0rem 2rem 2rem;
  background: #ffffff;
  border: none;
  border-bottom: 0.3rem solid transparent;
  border-radius: 0.5rem;
  width: 70%;
}
@media only screen and (max-width: 900px) {
  .form__input {
    font-size: 1.6rem;
    padding: 1rem 0rem 1rem 1rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
    width: 100%;
  }
}
.form__input:focus {
  outline: none;
  border-bottom: 0.3rem solid #66D763;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
}
.form__input:focus:invalid {
  border-bottom: 0.3rem solid #D76363;
}
.form__input:-moz-placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
}
.form__group-radio {
  display: inline-block;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 1240px) {
  .form__group-radio {
    display: block;
  }
}
.form__group-radio:not(:last-child) {
  margin-right: 4rem;
}
.form__label-radio {
  cursor: pointer;
  position: relative;
}
.form__input-radio {
  display: none;
}
.form__button-radio {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 0.5rem solid #BA8554;
  display: block;
  position: absolute;
  left: -3.8rem;
  top: -0.4rem;
}
.form__button-radio::after {
  content: "";
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  background: #BA8554;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.2s all;
}
.form__input-radio:checked ~ .form__label-radio .form__button-radio::after {
  opacity: 1;
}

.footer {
  padding: 8rem;
  background: #333333;
}
.footer__logo {
  width: 12rem;
}
@media only screen and (max-width: 900px) {
  .footer__logo {
    width: 8rem;
  }
}
.footer__list {
  list-style: none;
  text-align: center;
}
.footer__item {
  display: inline-block;
}
.footer__item:not(:last-child) {
  margin-right: 5rem;
}
@media only screen and (max-width: 1240px) {
  .footer__item:not(:last-child) {
    margin-right: 1.6rem;
  }
}
@media only screen and (max-width: 900px) {
  .footer__item:not(:last-child) {
    margin: 0rem;
    padding: 2rem;
  }
}
.footer__link:link, .footer__link:visited {
  color: white;
  font-weight: 300;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s;
}
.footer__link:hover {
  transform: rotate(5deg) scale(1.2);
  color: #BA8554;
}

.navigation__toggle {
  display: none;
}
.navigation__button {
  background-color: white;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  position: fixed;
  top: 10rem;
  right: 10rem;
  z-index: 200;
  text-align: center;
  cursor: pointer;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 150;
  opacity: 0;
  width: 0;
  transition: all 0.4s;
}
.navigation__background {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: radial-gradient(#BA8554, #A14F03);
  position: fixed;
  right: 11rem;
  top: 11rem;
  z-index: 100;
  transition: all 0.6s;
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  width: 100%;
}
.navigation__item {
  text-align: center;
}
.navigation__item:not(:last-child) {
  margin-bottom: 5rem;
}
.navigation__icon {
  position: relative;
  margin-top: 3.7rem;
}
@media only screen and (max-width: 900px) {
  .navigation__icon {
    margin-top: 3.3rem;
  }
}
@media only screen and (max-width: 600px) {
  .navigation__icon {
    margin-top: 4rem;
  }
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 0.2rem;
  display: inline-block;
  background: #000000;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__link:link, .navigation__link:visited {
  font-size: 4rem;
  color: #ffffff;
  letter-spacing: 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  background: linear-gradient(120deg, transparent 0%, transparent 50%, #ffffff 50%);
  background-size: 220%;
  padding: 1rem 2rem;
  transition: all 0.4s;
  display: inline-block;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #BA8554;
  transform: translateX(1rem);
}
.navigation__toggle:checked ~ .navigation__background {
  transform: scale(55);
}
.navigation__toggle:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1;
}
.navigation__toggle:checked + .navigation__button .navigation__icon {
  background: transparent;
}
.navigation__toggle:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(134deg);
}
.navigation__toggle:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-134deg);
}/*# sourceMappingURL=style.css.map */